// * {
//   outline: 1px solid blue;
// }

html {
  background: url(meat&meat.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.white-text {
  color: white;
}
